<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>
        {{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ block "meta" . }}{{ end }}
</head>
<body>
    <header>
        <h1 class="logo"><a href="/">{{ .Site.Title }}</a></h1>
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
</body>
</html>
