{{ define "main" }}
{{ range .Pages.ByDate.Reverse }}
<article>
    <div class="date">{{ $dateParam := .Date.Format "2006-01-02" }}
        <time datetime="{{ $dateParam }}">{{ .Date.Format "January 2, 2006" }}</time>
    </div>
    <h2>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ $summary := .Description }}
    {{ $credit := .Params.credit }}
    {{ with .Resources.ByType "image"}}
    {{ with .GetMatch "cover*"}}
    <div class="cover cover-small" style="background-image: url('{{ .RelPermalink }}')"></div>
    {{ end }}
    {{ end }}
    {{ .Summary }}
    {{ if .Truncated }}
    <a href="{{ .RelPermalink }}">Read more &gt;&gt;</a>
    {{ end }}
</article>
{{ end }}
{{ end }}
