{{ define "meta" }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ with .Resources.GetMatch "cover*" }}
<meta property="og:image" content="{{ .Permalink }}" />
{{ end }}
{{ end }}

{{ define "main" }}
<article>
    <h2>
        {{ .Title }}
    </h2>
    {{ $summary := .Description }}
    {{ $credit := .Params.credit }}
    {{ with .Resources.GetMatch "cover.jpg"}}
    <div class="cover" style="background-image: url('{{ .RelPermalink }}')">
        <div class="caption">{{ $summary }} &mdash; {{ $credit}}</div>
    </div>
    {{ end }}
    {{ .Content }}
</article>
{{ end }}
