{{ define "meta" }}
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ with .Resources.GetMatch "cover*" }}
<meta property="og:image" content="{{ .Permalink }}">
{{ end }}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description }}">
{{ with .Resources.GetMatch "cover*" }}
<meta name="twitter:image" content="{{ .Permalink }}">
{{ end }}
{{ end }}

{{ define "main" }}
<article>
    <div class="date">{{ $dateParam := .Date.Format "2006-01-02" }}
        <time datetime="{{ $dateParam }}">{{ .Date.Format "January 2, 2006" }}</time>
    </div>
    <h2>
        {{ .Title }}
    </h2>
    {{ $summary := .Description }}
    {{ $credit := .Params.credit }}
    {{ with .Resources.GetMatch "cover*"}}
    <div class="cover" style="background-image: url('{{ .RelPermalink }}')">
        <div class="caption">{{ $summary }} &mdash; {{ $credit}}</div>
    </div>
    {{ end }}
    {{ .Content }}
</article>
{{ end }}
